// @font-face {
// 	font-family: "Gilroy";
// 	src: url("../fonts/Gilroy-SemiBold.woff2"), url("../fonts/Gilroy-SemiBold.woff");
// 	font-display: swap;
// 	font-weight: 600;
// 	font-style: normal;
// }

//? Variables
$color-white: #fff;
$color-black: #000;
$font-roboto: "Roboto";
$color-grey-dark: #121722;
$color-blue: #4058ff;
$color-light-blue: #408cff;
$color-grey-light: #f2f2f2;
$color-blue-very-light: #4b93ff;
$color-sky: #f1f5ff;
$color-light-yellow: #fff6e4;
//? Variables

//? Main
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	position: relative;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
}

input {
	border: none;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;

	&:-webkit-autofill {
		box-shadow: 0 0 0 30px rgba($color-white, 0) inset !important;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

textarea,
input,
button:focus {
	outline: none;
}

button {
	font-size: inherit;
	cursor: pointer;
	border: none;
	background: none;
	padding: 0;
	font-family: inherit;
	color: inherit;
}

ul,
li {
	display: block;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	margin: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

textarea {
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	border: none;
	resize: none;
}

.logo {
	width: 104px;
}
.container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;

	&_small {
		max-width: 1200px;
	}
}
.burger-menu {
	display: none;
	margin-left: 25px;
	&__img {
		width: 25px;
		display: block;
	}
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	&.active {
		opacity: 1;
		visibility: visible;

		.popup-menu__body {
			transform: translateX(0);
			transition: transform 0.3s ease;
		}
	}
	&-menu {
		&__close {
			position: absolute;
			width: 25px;
			display: block;
			top: 10px;
			right: 10px;
			img {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		&__body {
			padding: 50px 50px 80px 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: translateX(-100%);
			transition: transform 0.3s ease;
		}
		&__link {
			font-size: 20px;
			color: $color-black;
			font-family: $font-roboto;
			font-weight: 400;
			text-align: center;
			img {
				width: 12px;
				margin-bottom: 2px;
				margin-left: 3px;
			}
		}
		&__list {
			display: flex;
			gap: 15px 0;
			flex-direction: column;
		}
	}
	&__body {
		background-color: $color-white;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
	&__bg {
		background-color: rgb($color-black, 0.4);
		width: 100%;
		height: 100%;
	}
}
//? Main

//? Header
.header {
	border-bottom: 1px solid $color-grey-light;
	display: flex;
	justify-content: center;

	&__inner {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 12px 0px;
		justify-content: space-between;
	}
	&-actions {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: auto;
		gap: 0 16px;

		&__link {
			font-family: $font-roboto;
			font-weight: 700;
			font-size: 16px;
			color: rgba($color-grey-dark, 0.7);
			border-bottom: 2px solid rgba($color-black, 0);
			border-top: 2px solid transparent;
			transition: border-bottom 0.3s ease;
			display: block;

			&:hover {
				border-bottom: 2px solid $color-black;
			}
		}

		&__btn {
			font-family: $font-roboto;
			font-weight: 700;
			font-size: 16px;
			color: $color-blue;
			background-color: rgba($color-light-blue, 0.1);
			padding: 10px 24px;
			border-radius: 30px;
			transition: background-color 0.3s ease, color 0.3s ease;

			&:hover {
				background-color: $color-blue;
				color: $color-white;
			}
		}
	}
}

.menu {
	img {
		margin-left: 3px;
		margin-bottom: 1px;
	}
	&__list {
		list-style: none;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 0 32px;
	}
	&__link {
		font-family: $font-roboto;
		color: rgba($color-grey-dark, 0.7);
		font-size: 15px;
		font-weight: 400;
		border-bottom: 2px solid transparent;
		transition: border-bottom 0.3s ease;
		&:hover {
			border-bottom: 2px solid rgba($color-grey-dark, 0.7);
		}

		&_active {
			font-size: 16px;
			font-family: $font-roboto;
			color: $color-grey-dark;
		}
	}
}
//? Header

//? Hero
.hero {
	display: flex;
	justify-content: center;
	margin-top: 40px;

	&__btn {
		background-color: $color-blue;
		color: $color-white;
		border-radius: 50px;
		max-width: 158px;
		height: 48px;
		font-family: $font-roboto;
		font-weight: 700;
		font-size: 18px;
		transition: background-color 0.3s ease;
		&:hover {
			background-color: lighten($color-blue, 5%);
		}
	}
	&__item {
		color: rgba($color-grey-dark, 0.7);
		font-family: $font-roboto;
		font-size: 20px;
		max-width: 240px;
		line-height: 27px;
	}
	&__title {
		font-size: 50px;
		font-weight: 400;
		font-family: $font-roboto;
		max-width: 380px;
		line-height: 50px;
	}
	&__text {
		display: flex;
		flex-direction: column;
		gap: 21px 0;
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 0px;
	}
}

//? Functions
.functions {
	display: flex;
	justify-content: center;
	padding-top: 100px;

	&__left {
		display: flex;
		flex-direction: column;
		gap: 185px 0;
		span {
			margin-bottom: -50px;
		}
	}
	&__main {
		width: 780px;
	}
	&__socials {
		width: 240px;
	}
	&__desc {
		color: rgba($color-grey-dark, 0.7);
		font-size: 21px;
		font-family: $font-roboto;
		text-align: center;
		margin-bottom: 48px;
	}
	&__title {
		font-size: 36px;
		font-weight: 400;
		font-family: $font-roboto;
		line-height: 42px;
		margin-bottom: 17px;
		text-align: center;
		max-width: 680px;
		margin-left: auto;
		margin-right: auto;
		span {
			color: $color-blue-very-light;
			width: 330px;
		}
	}
	&__text {
		font-size: 34px;
		font-family: $font-roboto;
		line-height: 38px;
		color: $color-white;
		font-weight: 400;
		max-width: 354px;
		margin-top: 35px;
		width: 100%;
	}
	&__inner {
		background-color: $color-blue;
		border-radius: 12px;
		display: flex;
		justify-content: space-between;
		align-items: start;
		position: relative;
		padding: 80px 40px 80px 48px;

		span {
			border-top: 1px solid $color-blue-very-light;
			width: 360px;
		}
	}
}
//? Functions

//? Navigate
.navigate {
	display: flex;
	justify-content: center;
	width: 100%;

	&__desc {
		font-size: 20px;
		font-weight: 400;
		font-family: $font-roboto;
		color: rgba($color-grey-dark, 0.7);
	}
	&__text {
		display: flex;
		flex-direction: column;
		gap: 20px 0;
		max-width: 340px;
	}
	&__title {
		font-size: 34px;
		color: $color-grey-dark;
		font-weight: 400;
		font-family: $font-roboto;
	}

	&__inner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: rgba($color-sky, 0.5);
		border-radius: 12px;
		margin-top: 24px;
		padding: 80px 35px 48px 48px;
	}
}
//? Navigate

//? Community
.community {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 24px;

	&__inner {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		gap: 0 95px;
	}
	&-comments {
		background-color: rgba($color-light-yellow, 0.5);
		border-radius: 12px;
		padding: 73px 45px 0 45px;
		position: relative;

		&__title {
			font-size: 24px;
			font-family: $font-roboto;
		}
		&__text {
			font-size: 24px;
			color: rgba($color-grey-dark, 0.7);
			font-family: $font-roboto;
			margin-top: 5px;
			margin-bottom: 70px;
			width: 515px;
		}
		img {
			position: absolute;
			bottom: -75px;
			display: inline-block;
		}
	}
	&-posts {
		background-color: $color-white;
		padding-top: 73px;
		padding-left: 50px;

		&__title {
			font-size: 24px;
			font-family: $font-roboto;
		}
		&__text {
			font-size: 24px;
			color: rgba($color-grey-dark, 0.7);
			font-family: $font-roboto;
			margin-top: 5px;
			margin-bottom: 70px;
		}
	}
}
//? Community

//? Activity
.activity {
	display: flex;
	justify-content: center;
	margin-bottom: 24px;
	padding-top: 80px;

	&__desc {
		font-size: 21px;
		font-family: $font-roboto;
		color: rgba($color-grey-dark, 0.7);
		margin-top: 17px;
		margin-bottom: 48px;
		text-align: center;
	}
	&__title {
		font-size: 36px;
		font-weight: 400;
		font-family: $font-roboto;
		text-align: center;
	}
	&__text {
		color: $color-white;
		font-size: 34px;
		font-family: $font-roboto;
		line-height: 38px;
		max-width: 270px;
		margin-bottom: 90px;
		font-weight: 400;
	}
	&__inner {
		background-color: $color-grey-dark;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 80px 48px;
		border-radius: 12px;

		img {
			width: 745px;
			height: 500px;
		}
	}
}
//? Activity

//? Advantage
.advantage {
	&__inner {
		display: grid;
		grid-template-columns: 628px 628px;
		gap: 0 24px;
		justify-content: center;
		margin-right: auto;
		margin-left: auto;
	}

	&-item {
		background-color: rgba($color-sky, 0.5);
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 57px 48px;
		max-width: 620px;

		&__desc {
			font-size: 24px;
			font-weight: 400;
			font-family: $font-roboto;
			color: rgba($color-grey-dark, 0.6);
			margin-bottom: 40px;
		}
		&__title {
			font-size: 24px;
			font-family: $font-roboto;
			font-weight: 400;
			margin-bottom: 11px;
		}

		img {
			width: 510px;
			height: 343px;
		}
	}
}

.usage {
	margin-top: 23px;
	grid-column: 1/3;
	justify-self: center;
	display: flex;
	padding: 87px;
	border-radius: 12px;
	background-color: rgba($color-sky, 0.5);
	gap: 0 40px;

	&__text {
		display: flex;
		flex-direction: column;
	}
	&__desc {
		font-size: 20px;
		font-weight: 400;
		font-family: $font-roboto;
		color: rgba($color-grey-dark, 0.6);
		max-width: 310px;
	}
	&__title {
		font-size: 34px;
		font-family: $font-roboto;
		font-weight: 400;
		line-height: 38px;
		max-width: 330px;
		margin-bottom: 20px;
	}
	&-item {
		border-radius: 12px;
		background-color: $color-blue;
		padding: 32px 41px 80px 32px;
		display: flex;
		flex-direction: column;

		&__arrow {
			color: $color-white;
			font-family: $font-roboto;
			font-size: 16px;
			margin-top: 10px;
		}
		img {
			max-width: 40px;
			margin-bottom: 32px;
		}
		&__headline {
			color: $color-white;
			font-size: 13px;
			font-weight: 400;
			font-family: $font-roboto;
			margin-bottom: 4px;
		}
		&__title {
			font-size: 32px;
			font-weight: 400;
			line-height: 36px;
			font-family: $font-roboto;
			color: $color-white;
			max-width: 250px;
			margin-bottom: 13px;
		}
		&__text {
			font-size: 18px;
			font-weight: 400;
			font-family: $font-roboto;
			color: $color-white;
			line-height: 24px;
			max-width: 275px;
			margin-bottom: 15px;
		}
		&__link {
			color: $color-white;
			font-family: $font-roboto;
			font-size: 16px;
		}
	}
}
//? Adventage

//? Explore
.explore {
	display: flex;
	justify-content: center;
	padding-top: 113px;
	&__container {
		width: auto;
	}
	&__desc {
		font-size: 21px;
		font-family: $font-roboto;
		font-weight: 400;
		color: rgba($color-grey-dark, 0.7);
		text-align: center;
		max-width: 630px;
		line-height: 32px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	&__inner {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 21px 21px;
		margin-top: 50px;
	}
	&__btn {
		color: $color-blue;
		background-color: rgba($color-light-blue, 0.1);
		border-radius: 50px;
		font-family: $font-roboto;
		font-size: 18px;
		font-weight: 700;
		padding: 13px 26px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		display: block;
		margin-top: 16px;
		transition: background-color 0.3s ease, color 0.3s ease;
		&:hover {
			background-color: $color-blue;
			color: $color-white;
		}
	}
	&__title {
		font-size: 36px;
		font-family: $font-roboto;
		font-weight: 400;
		text-align: center;
		margin-bottom: 17px;
	}

	&-templates {
		img {
			transition: transform 0.3s ease;
		}
		&:hover {
			img {
				transform: scale(1.03);
			}
		}
		&__headline {
			font-size: 13px;
			color: rgba($color-grey-dark, 0.7);
			letter-spacing: 0.5px;
			font-family: $font-roboto;
			font-weight: 400;
			margin-top: 5px;
		}
		&__text {
			font-size: 20px;
			color: $color-grey-dark;
			font-family: $font-roboto;
			font-weight: 400;
			margin-top: 5px;
		}
	}
}

//? Explore

//? Start
.start {
	display: flex;
	justify-content: center;
	padding-top: 80px;

	&__inner {
		background-color: $color-blue;
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 346px;
	}
	&__title {
		font-size: 34px;
		font-family: $font-roboto;
		color: $color-white;
		font-weight: 400;
	}
	&__btn {
		background-color: $color-white;
		color: $color-blue;
		font-size: 18px;
		font-weight: 700;
		font-family: $font-roboto;
		border-radius: 50px;
		display: block;
		padding: 14px 32px;
		margin-top: 18px;
		border: 2px solid transparent;
		transition: border 0.3s ease, color 0.3s ease, background-color 0.3s ease;
		&:hover {
			background-color: $color-blue;
			color: $color-white;
			border: 2px solid $color-white;
		}
	}
}
//? Explore

//? Footer
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
	padding-top: 80px;
	&__bottom {
		img {
			max-width: 114px;
		}
	}
	&__general {
		display: flex;
		flex-direction: column;
		gap: 10px 0;
		color: $color-grey-dark;
		font-family: $font-roboto;
		font-size: 16px;
		a {
			max-width: fit-content;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__support {
		display: flex;
		flex-direction: column;
		gap: 10px 0;
		color: $color-grey-dark;
		font-family: $font-roboto;
		font-size: 16px;
		a {
			max-width: fit-content;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__doc {
		display: flex;
		flex-direction: column;
		gap: 8px 0;
		margin-right: 15px;
		margin-bottom: 20px;
	}
	&__privacy {
		display: flex;
		flex-direction: column;
		gap: 10px 0;
		font-size: 16px;
		font-family: $font-roboto;
		color: $color-grey-dark;
		a {
			max-width: fit-content;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__copy {
		font-size: 12px;
		font-weight: 400;
		color: rgba($color-grey-dark, 0.7);
		font-family: $font-roboto;
		max-width: 182px;
	}
	&__inner {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 0 120px;
	}
}
//? Footer

//? Responsive
@media (max-width: 1300px) {
	//? 1300-1001
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.functions {
		&__title {
			font-size: 33px;
			line-height: 42px;
		}
		&__inner {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		&__main {
			width: 500px;
		}
		&__text {
			font-size: 31px;
		}
		&__left {
			gap: 107px 0;
		}
		span {
			width: 290px;
		}
	}
	.hero {
		img {
			width: 570px;
		}
		&__title {
			font-size: 34px;
			line-height: 42px;
		}
	}
	.navigate {
		img {
			width: 580px;
		}
		&__desc {
			font-size: 18px;
		}
		&__title {
			font-size: 30px;
		}
		&__inner {
			padding-bottom: 45px;
			padding-top: 45px;
		}
	}
	.community {
		&__inner {
			gap: 0;
		}
		&-comments {
			padding-top: 50px;
			padding-left: 35px;
			padding-right: 30px;
			img {
				width: 450px;
			}
			&__title {
				font-size: 21px;
			}
			&__text {
				font-size: 21px;
				width: 100%;
			}
		}
		&-posts {
			padding-top: 50px;
			padding-left: 35px;
			img {
				width: 450px;
			}
			&__title {
				font-size: 21px;
			}
			&__text {
				font-size: 21px;
			}
		}
	}
	.activity {
		&__title {
			font-size: 31px;
		}
		&__desc {
			font-size: 20px;
		}
		&__inner {
			padding-top: 45px;
			padding-bottom: 45px;
			img {
				width: 550px;
				height: auto;
			}
		}
		&__text {
			font-size: 32px;
			line-height: 35px;
		}
	}
	.advantage {
		&__inner {
			grid-template-columns: 1fr 1fr;
		}
		&-item {
			max-width: 470px;
			padding: 35px 30px;
			img {
				width: 450px;
				height: auto;
			}
			&__title {
				font-size: 21px;
			}
			&__desc {
				font-size: 20px;
			}
		}
	}
	.usage {
		padding: 60px;
		&-item {
			&__title {
				font-size: 24px;
			}
			&__text {
				font-size: 16px;
			}
			&__link {
				font-size: 14px;
			}
		}
		&__title {
			font-size: 26px;
			line-height: 28px;
		}
		&__desc {
			font-size: 18px;
		}
	}
	.explore {
		&__inner {
			img {
				width: 220px;
			}
		}
		&__title {
			font-size: 31px;
		}
		&__desc {
			font-size: 18px;
		}
		&__btn {
			font-size: 16px;
		}
	}
	.start {
		&__title {
			font-size: 31px;
		}
		&__btn {
			font-size: 15px;
		}
	}
}
@media (max-width: 1000px) {
	//? 1000-769
	.logo {
		width: 80px;
		height: auto;
	}
	.menu {
		&__link {
			font-size: 14px;
		}
	}
	.header {
		&-actions {
			&__link {
				font-size: 14px;
			}
			&__btn {
				font-size: 14px;
			}
		}
	}
	.hero {
		&__btn {
			font-size: 17px;
		}
		&__item {
			font-size: 18px;
		}
		img {
			width: 500px;
		}
		&__title {
			font-size: 27px;
			line-height: 30px;
		}
	}
	.functions {
		&__title {
			font-size: 27px;
			span {
				white-space: nowrap;
			}
		}
		&__desc {
			font-size: 19px;
		}
		&__main {
			width: 400px;
		}
		&__text {
			font-size: 27px;
		}
		&__left {
			span {
				width: 210px;
			}
			gap: 70px 0;
		}
		&__socials {
			width: 200px;
		}
	}
	.navigate {
		&__title {
			font-size: 25px;
			line-height: 28px;
		}
		&__desc {
			font-size: 16px;
		}
		&__inner {
			img {
				width: 450px;
			}
		}
	}
	.community {
		&-comments {
			&__title {
				font-size: 18px;
			}
			&__text {
				font-size: 18px;
			}
			img {
				width: 320px;
				right: -10px;
			}
		}
		&-posts {
			img {
				width: 350px;
			}
			&__title {
				font-size: 18px;
			}
			&__text {
				font-size: 18px;
				width: 350px;
			}
		}
	}
	.activity {
		&__text {
			font-size: 26px;
			line-height: 33px;
		}
		&__inner {
			img {
				width: 450px;
			}
		}
		&__title {
			font-size: 26px;
		}
		&__desc {
			font-size: 18px;
		}
	}
	.advantage {
		&-item {
			max-width: 350px;
			img {
				width: 350px;
			}
			&__title {
				font-size: 18px;
			}
			&__desc {
				font-size: 17px;
			}
		}
	}
	.usage {
		gap: 0 25px;
		padding: 25px;
		&-item {
			padding-bottom: 40px;
			&__title {
				font-size: 19px;
				line-height: 24px;
			}
			&__headline {
				margin-bottom: 10px;
			}
			&-text {
				font-size: 14px;
			}
		}
		&__title {
			font-size: 21px;
			line-height: 27px;
		}
		&__desc {
			font-size: 16px;
		}
	}
	.explore {
		&__inner {
			img {
				width: 200px;
			}
		}
		&__title {
			font-size: 26px;
		}
		&__desc {
			font-size: 16px;
		}
		&__btn {
			font-size: 14px;
		}
	}
	.start {
		&__inner {
			height: 300px;
		}
		&__title {
			font-size: 26px;
		}
		&__btn {
			font-size: 16px;
		}
	}
	.footer {
		&__inner {
			gap: 0 70px;
		}
		&__privacy {
			gap: 15px 0;
		}
		&__support {
			gap: 15px 0;
		}
		&__general {
			gap: 15px 0;
		}
	}
}

@media (max-width: 768px) {
	//? 768-577
	.menu {
		display: none;
	}
	.burger-menu {
		display: block;
	}
	.hero {
		&__btn {
			font-size: 14px;
			width: 140px;
		}
		img {
			width: 350px;
		}
		&__title {
			font-size: 23px;
			line-height: 27px;
		}
		&__item {
			font-size: 16px;
		}
	}
	.functions {
		&__inner {
			padding: 40px 30px;
		}
		&__title {
			font-size: 23px;
			line-height: 33px;
		}
		&__desc {
			font-size: 16px;
		}
		&__main {
			width: 270px;
		}
		&__text {
			font-size: 21px;
			line-height: 30px;
		}
		&__left {
			gap: 60px;
			span {
				width: 190px;
			}
		}
		&__socials {
			width: 160px;
		}
	}
	.navigate {
		&__inner {
			padding: 30px 30px;
			img {
				width: 340px;
			}
		}
		&__title {
			font-size: 21px;
		}
		&__desc {
			font-size: 15px;
		}
	}
	.community {
		&-posts {
			padding: 40px;
			position: relative;
			img {
				width: 300px;
				position: absolute;
				bottom: -94px;
				right: -10px;
			}
			&__title {
				font-size: 16px;
				width: 220px;
			}
			&__text {
				font-size: 16px;
				width: 220px;
			}
		}
		&-comments {
			position: relative;
			img {
				width: 250px;
				right: 1px;
				top: 136px;
			}
			&__title {
				font-size: 16px;
			}
			&__text {
				font-size: 16px;
			}
		}
	}
	.activity {
		padding-top: 120px;
		&__text {
			font-size: 19px;
			line-height: 27px;
		}
		&__inner {
			img {
				width: 320px;
			}
		}
		&__title {
			font-size: 21px;
		}
		&__desc {
			font-size: 15px;
			margin-bottom: 30px;
			margin-top: 10px;
		}
	}
	.advantage {
		&__inner {
			gap: 0 16px;
		}
		&-item {
			width: 280px;

			&__desc {
				font-size: 15px;
			}
			&__title {
				font-size: 16px;
			}
			img {
				width: 220px;
			}
		}
	}
	.usage {
		padding: 50px;
		text-align: center;
		display: block;

		&__title {
			font-size: 18px;
			line-height: 24px;
		}
		&__desc {
			font-size: 15px;
		}
		&-item {
			margin-top: 30px;
			text-align: center;
			padding-right: 32px;
			img {
				margin-bottom: 20px;
			}
			&__title {
				font-size: 17px;
			}
			&__headline {
				margin-bottom: 13px;
				line-height: 25px;
			}
			&__text {
				font-size: 15px;
			}
			&__link {
				font-size: 13px;
			}
		}
	}
	.explore {
		padding-top: 45px;
		&__container {
			padding: 0;
		}
		&__title {
			font-size: 22px;
		}
		&__desc {
			font-size: 14px;
			max-width: 500px;
			line-height: 25px;
		}
		&__btn {
			font-size: 13px;
		}
		&__inner {
			img {
				width: 170px;
			}
		}
	}
	.templates {
		&__headline {
			font-size: 12px;
		}
		&__text {
			font-size: 17px;
		}
	}
	.start {
		&__inner {
			height: 220px;
		}
		&__title {
			font-size: 21px;
		}
		&__btn {
			font-size: 16px;
		}
	}
	.footer {
		padding-top: 60px;
		&__bottom {
			display: flex;
			justify-content: start;

			img {
				width: 80px;
			}
		}
		&__inner {
			gap: 0 21px;
			grid-template-columns: repeat(3, 1fr);
		}

		padding-top: 50px;
		padding-bottom: 30px;

		&__doc {
			flex-direction: column;
			align-items: start;
		}
		&__copy {
			max-width: 250px;
			font-size: 10px;
		}
		&__privacy {
			font-size: 14px;
		}
		&__support {
			font-size: 14px;
		}
		&__general {
			font-size: 14px;
		}
	}
}
@media (max-width: 576px) {
	//? 576-320
	.logo {
		width: 60px;
	}
	.burger-menu {
		margin-left: 0;
	}
	.header {
		&-actions {
			margin-left: 0;
			&__link {
				font-size: 13px;
			}
			&__btn {
				font-size: 13px;
				padding-left: 17px;
				padding-right: 17px;
			}
		}
	}
	.hero {
		&__btn {
			font-size: 16px;
		}
		&__item {
			font-size: 15px;
			line-height: 21px;
		}
		&__title {
			font-size: 21px;
			line-height: 24px;
			margin-top: 25px;
		}
		&__text {
			order: 2;
			text-align: center;
			align-items: center;
			gap: 10px 0;
		}
		&__inner {
			img {
				order: 1;
				width: 300px;
			}
			flex-direction: column;
		}
	}
	.functions {
		padding-top: 55px;
		&__text {
			font-size: 18px;
			line-height: 27px;
		}
		&__main {
			width: 220px;
			margin-top: 20px;
		}
		&__title {
			font-size: 20px;
			line-height: 25px;
			span {
				font-size: 19px;
			}
		}
		&__desc {
			font-size: 15px;
		}
		&__inner {
			flex-direction: column;
			gap: 40 px 0;
			padding-top: 10px;
		}

		&__left {
			gap: 30px 0;
			span {
				margin-bottom: 20px;
			}
		}
	}
	.navigate {
		img {
			width: 270px;
			margin-bottom: 15px;
		}
		&__inner {
			flex-direction: column;
		}
		&__title {
			font-size: 19px;
		}
	}
	.community {
		&-posts {
			img {
				bottom: -90px;
			}
		}
		&__inner {
			flex-direction: column;
			gap: 100px 0;
		}
		&-comments {
			img {
				top: auto;
				bottom: -103px;
			}
		}
	}
	.activity {
		padding-top: 150px;
		&__inner {
			flex-direction: column;
			justify-content: center;
			img {
				width: 260px;
			}
		}
		&__text {
			font-size: 18px;
			margin-bottom: 30px;
			text-align: center;
		}
	}
	.advantage {
		&-item {
			max-width: none;
			width: 100%;
		}
		&__inner {
			display: flex;
			flex-direction: column;
			gap: 20px 0;
		}
	}
	.usage {
		padding: 30px 10px 10px 10px;

		&__text {
			align-items: center;
		}
		img {
			margin: 0;
		}
		&-item {
			padding: 10px 20px 20px 20px;
			text-align: center;
			align-items: center;
		}
	}
	.explore {
		padding-top: 60px;
		&__title {
			font-size: 20px;
		}
		&__desc {
			font-size: 13px;
			max-width: 300px;
			line-height: 22px;
		}
		&__inner {
			gap: 13px 13px;
			grid-template-columns: 1fr 1fr;
			img {
				width: 140px;
			}
		}
	}
	.templates {
		&__headline {
			font-size: 11px;
		}
		&__text {
			font-size: 13px;
		}
	}
	.start {
		padding-top: 60px;
		&__btn {
			font-size: 16px;
		}
		&__inner {
			height: 150px;
		}
	}
	.footer {
		padding-bottom: 15px;
		&__bottom {
			justify-content: start;
			order: 7;
			img {
				width: 50px;
				order: 1;
			}
			display: flex;
			align-items: end;
		}
		&__privacy {
			flex-direction: column;
			gap: 0 20px;
			font-size: 12px;
			order: 3;
		}
		&__support {
			flex-direction: column;
			gap: 0 20px;
			font-size: 12px;
			order: 5;
		}
		&__general {
			flex-direction: column;
			gap: 0 20px;
			font-size: 12px;
			order: 6;
		}
		&__doc {
			align-items: start;
			gap: 5px 18px;
			order: 2;
		}
		&__copy {
			width: 100%;
			max-width: 500px;
			order: 4;
		}
		&__inner {
			order: 1;
			display: flex;
			flex-direction: row;
			gap: 0px 10px;
			justify-content: space-between;
		}
	}
}
