*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

input {
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}
input:-webkit-autofill {
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset !important;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea,
input,
button:focus {
  outline: none;
}

button {
  font-size: inherit;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  font-family: inherit;
  color: inherit;
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: none;
  resize: none;
}

.logo {
  width: 104px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.container_small {
  max-width: 1200px;
}

.burger-menu {
  display: none;
  margin-left: 25px;
}
.burger-menu__img {
  width: 25px;
  display: block;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.popup.active {
  opacity: 1;
  visibility: visible;
}
.popup.active .popup-menu__body {
  transform: translateX(0);
  transition: transform 0.3s ease;
}
.popup-menu__close {
  position: absolute;
  width: 25px;
  display: block;
  top: 10px;
  right: 10px;
}
.popup-menu__close img {
  width: 100%;
  height: 100%;
  display: block;
}
.popup-menu__body {
  padding: 50px 50px 80px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.popup-menu__link {
  font-size: 20px;
  color: #000;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
}
.popup-menu__link img {
  width: 12px;
  margin-bottom: 2px;
  margin-left: 3px;
}
.popup-menu__list {
  display: flex;
  gap: 15px 0;
  flex-direction: column;
}
.popup__body {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.popup__bg {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.header {
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
}
.header__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0px;
  justify-content: space-between;
}
.header-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 0 16px;
}
.header-actions__link {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: rgba(18, 23, 34, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  border-top: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  display: block;
}
.header-actions__link:hover {
  border-bottom: 2px solid #000;
}
.header-actions__btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #4058ff;
  background-color: rgba(64, 140, 255, 0.1);
  padding: 10px 24px;
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header-actions__btn:hover {
  background-color: #4058ff;
  color: #fff;
}

.menu img {
  margin-left: 3px;
  margin-bottom: 1px;
}
.menu__list {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0 32px;
}
.menu__link {
  font-family: "Roboto";
  color: rgba(18, 23, 34, 0.7);
  font-size: 15px;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}
.menu__link:hover {
  border-bottom: 2px solid rgba(18, 23, 34, 0.7);
}
.menu__link_active {
  font-size: 16px;
  font-family: "Roboto";
  color: #121722;
}

.hero {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.hero__btn {
  background-color: #4058ff;
  color: #fff;
  border-radius: 50px;
  max-width: 158px;
  height: 48px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.hero__btn:hover {
  background-color: #5a6eff;
}
.hero__item {
  color: rgba(18, 23, 34, 0.7);
  font-family: "Roboto";
  font-size: 20px;
  max-width: 240px;
  line-height: 27px;
}
.hero__title {
  font-size: 50px;
  font-weight: 400;
  font-family: "Roboto";
  max-width: 380px;
  line-height: 50px;
}
.hero__text {
  display: flex;
  flex-direction: column;
  gap: 21px 0;
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0px;
}

.functions {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.functions__left {
  display: flex;
  flex-direction: column;
  gap: 185px 0;
}
.functions__left span {
  margin-bottom: -50px;
}
.functions__main {
  width: 780px;
}
.functions__socials {
  width: 240px;
}
.functions__desc {
  color: rgba(18, 23, 34, 0.7);
  font-size: 21px;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 48px;
}
.functions__title {
  font-size: 36px;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 42px;
  margin-bottom: 17px;
  text-align: center;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}
.functions__title span {
  color: #4b93ff;
  width: 330px;
}
.functions__text {
  font-size: 34px;
  font-family: "Roboto";
  line-height: 38px;
  color: #fff;
  font-weight: 400;
  max-width: 354px;
  margin-top: 35px;
  width: 100%;
}
.functions__inner {
  background-color: #4058ff;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  padding: 80px 40px 80px 48px;
}
.functions__inner span {
  border-top: 1px solid #4b93ff;
  width: 360px;
}

.navigate {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navigate__desc {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgba(18, 23, 34, 0.7);
}
.navigate__text {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  max-width: 340px;
}
.navigate__title {
  font-size: 34px;
  color: #121722;
  font-weight: 400;
  font-family: "Roboto";
}
.navigate__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(241, 245, 255, 0.5);
  border-radius: 12px;
  margin-top: 24px;
  padding: 80px 35px 48px 48px;
}

.community {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}
.community__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 0 95px;
}
.community-comments {
  background-color: rgba(255, 246, 228, 0.5);
  border-radius: 12px;
  padding: 73px 45px 0 45px;
  position: relative;
}
.community-comments__title {
  font-size: 24px;
  font-family: "Roboto";
}
.community-comments__text {
  font-size: 24px;
  color: rgba(18, 23, 34, 0.7);
  font-family: "Roboto";
  margin-top: 5px;
  margin-bottom: 70px;
  width: 515px;
}
.community-comments img {
  position: absolute;
  bottom: -75px;
  display: inline-block;
}
.community-posts {
  background-color: #fff;
  padding-top: 73px;
  padding-left: 50px;
}
.community-posts__title {
  font-size: 24px;
  font-family: "Roboto";
}
.community-posts__text {
  font-size: 24px;
  color: rgba(18, 23, 34, 0.7);
  font-family: "Roboto";
  margin-top: 5px;
  margin-bottom: 70px;
}

.activity {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  padding-top: 80px;
}
.activity__desc {
  font-size: 21px;
  font-family: "Roboto";
  color: rgba(18, 23, 34, 0.7);
  margin-top: 17px;
  margin-bottom: 48px;
  text-align: center;
}
.activity__title {
  font-size: 36px;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
}
.activity__text {
  color: #fff;
  font-size: 34px;
  font-family: "Roboto";
  line-height: 38px;
  max-width: 270px;
  margin-bottom: 90px;
  font-weight: 400;
}
.activity__inner {
  background-color: #121722;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 48px;
  border-radius: 12px;
}
.activity__inner img {
  width: 745px;
  height: 500px;
}

.advantage__inner {
  display: grid;
  grid-template-columns: 628px 628px;
  gap: 0 24px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
.advantage-item {
  background-color: rgba(241, 245, 255, 0.5);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 57px 48px;
  max-width: 620px;
}
.advantage-item__desc {
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgba(18, 23, 34, 0.6);
  margin-bottom: 40px;
}
.advantage-item__title {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: 11px;
}
.advantage-item img {
  width: 510px;
  height: 343px;
}

.usage {
  margin-top: 23px;
  grid-column: 1/3;
  justify-self: center;
  display: flex;
  padding: 87px;
  border-radius: 12px;
  background-color: rgba(241, 245, 255, 0.5);
  gap: 0 40px;
}
.usage__text {
  display: flex;
  flex-direction: column;
}
.usage__desc {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgba(18, 23, 34, 0.6);
  max-width: 310px;
}
.usage__title {
  font-size: 34px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 38px;
  max-width: 330px;
  margin-bottom: 20px;
}
.usage-item {
  border-radius: 12px;
  background-color: #4058ff;
  padding: 32px 41px 80px 32px;
  display: flex;
  flex-direction: column;
}
.usage-item__arrow {
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  margin-top: 10px;
}
.usage-item img {
  max-width: 40px;
  margin-bottom: 32px;
}
.usage-item__headline {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  font-family: "Roboto";
  margin-bottom: 4px;
}
.usage-item__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  font-family: "Roboto";
  color: #fff;
  max-width: 250px;
  margin-bottom: 13px;
}
.usage-item__text {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto";
  color: #fff;
  line-height: 24px;
  max-width: 275px;
  margin-bottom: 15px;
}
.usage-item__link {
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
}

.explore {
  display: flex;
  justify-content: center;
  padding-top: 113px;
}
.explore__container {
  width: auto;
}
.explore__desc {
  font-size: 21px;
  font-family: "Roboto";
  font-weight: 400;
  color: rgba(18, 23, 34, 0.7);
  text-align: center;
  max-width: 630px;
  line-height: 32px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.explore__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 21px 21px;
  margin-top: 50px;
}
.explore__btn {
  color: #4058ff;
  background-color: rgba(64, 140, 255, 0.1);
  border-radius: 50px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  padding: 13px 26px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.explore__btn:hover {
  background-color: #4058ff;
  color: #fff;
}
.explore__title {
  font-size: 36px;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  margin-bottom: 17px;
}
.explore-templates img {
  transition: transform 0.3s ease;
}
.explore-templates:hover img {
  transform: scale(1.03);
}
.explore-templates__headline {
  font-size: 13px;
  color: rgba(18, 23, 34, 0.7);
  letter-spacing: 0.5px;
  font-family: "Roboto";
  font-weight: 400;
  margin-top: 5px;
}
.explore-templates__text {
  font-size: 20px;
  color: #121722;
  font-family: "Roboto";
  font-weight: 400;
  margin-top: 5px;
}

.start {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.start__inner {
  background-color: #4058ff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 346px;
}
.start__title {
  font-size: 34px;
  font-family: "Roboto";
  color: #fff;
  font-weight: 400;
}
.start__btn {
  background-color: #fff;
  color: #4058ff;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto";
  border-radius: 50px;
  display: block;
  padding: 14px 32px;
  margin-top: 18px;
  border: 2px solid transparent;
  transition: border 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}
.start__btn:hover {
  background-color: #4058ff;
  color: #fff;
  border: 2px solid #fff;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 80px;
}
.footer__bottom img {
  max-width: 114px;
}
.footer__general {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  color: #121722;
  font-family: "Roboto";
  font-size: 16px;
}
.footer__general a {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.footer__general a:hover {
  text-decoration: underline;
}
.footer__support {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  color: #121722;
  font-family: "Roboto";
  font-size: 16px;
}
.footer__support a {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.footer__support a:hover {
  text-decoration: underline;
}
.footer__doc {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  margin-right: 15px;
  margin-bottom: 20px;
}
.footer__privacy {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  font-size: 16px;
  font-family: "Roboto";
  color: #121722;
}
.footer__privacy a {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.footer__privacy a:hover {
  text-decoration: underline;
}
.footer__copy {
  font-size: 12px;
  font-weight: 400;
  color: rgba(18, 23, 34, 0.7);
  font-family: "Roboto";
  max-width: 182px;
}
.footer__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0 120px;
}

@media (max-width: 1300px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .functions__title {
    font-size: 33px;
    line-height: 42px;
  }
  .functions__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .functions__main {
    width: 500px;
  }
  .functions__text {
    font-size: 31px;
  }
  .functions__left {
    gap: 107px 0;
  }
  .functions span {
    width: 290px;
  }
  .hero img {
    width: 570px;
  }
  .hero__title {
    font-size: 34px;
    line-height: 42px;
  }
  .navigate img {
    width: 580px;
  }
  .navigate__desc {
    font-size: 18px;
  }
  .navigate__title {
    font-size: 30px;
  }
  .navigate__inner {
    padding-bottom: 45px;
    padding-top: 45px;
  }
  .community__inner {
    gap: 0;
  }
  .community-comments {
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 30px;
  }
  .community-comments img {
    width: 450px;
  }
  .community-comments__title {
    font-size: 21px;
  }
  .community-comments__text {
    font-size: 21px;
    width: 100%;
  }
  .community-posts {
    padding-top: 50px;
    padding-left: 35px;
  }
  .community-posts img {
    width: 450px;
  }
  .community-posts__title {
    font-size: 21px;
  }
  .community-posts__text {
    font-size: 21px;
  }
  .activity__title {
    font-size: 31px;
  }
  .activity__desc {
    font-size: 20px;
  }
  .activity__inner {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .activity__inner img {
    width: 550px;
    height: auto;
  }
  .activity__text {
    font-size: 32px;
    line-height: 35px;
  }
  .advantage__inner {
    grid-template-columns: 1fr 1fr;
  }
  .advantage-item {
    max-width: 470px;
    padding: 35px 30px;
  }
  .advantage-item img {
    width: 450px;
    height: auto;
  }
  .advantage-item__title {
    font-size: 21px;
  }
  .advantage-item__desc {
    font-size: 20px;
  }
  .usage {
    padding: 60px;
  }
  .usage-item__title {
    font-size: 24px;
  }
  .usage-item__text {
    font-size: 16px;
  }
  .usage-item__link {
    font-size: 14px;
  }
  .usage__title {
    font-size: 26px;
    line-height: 28px;
  }
  .usage__desc {
    font-size: 18px;
  }
  .explore__inner img {
    width: 220px;
  }
  .explore__title {
    font-size: 31px;
  }
  .explore__desc {
    font-size: 18px;
  }
  .explore__btn {
    font-size: 16px;
  }
  .start__title {
    font-size: 31px;
  }
  .start__btn {
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  .logo {
    width: 80px;
    height: auto;
  }
  .menu__link {
    font-size: 14px;
  }
  .header-actions__link {
    font-size: 14px;
  }
  .header-actions__btn {
    font-size: 14px;
  }
  .hero__btn {
    font-size: 17px;
  }
  .hero__item {
    font-size: 18px;
  }
  .hero img {
    width: 500px;
  }
  .hero__title {
    font-size: 27px;
    line-height: 30px;
  }
  .functions__title {
    font-size: 27px;
  }
  .functions__title span {
    white-space: nowrap;
  }
  .functions__desc {
    font-size: 19px;
  }
  .functions__main {
    width: 400px;
  }
  .functions__text {
    font-size: 27px;
  }
  .functions__left {
    gap: 70px 0;
  }
  .functions__left span {
    width: 210px;
  }
  .functions__socials {
    width: 200px;
  }
  .navigate__title {
    font-size: 25px;
    line-height: 28px;
  }
  .navigate__desc {
    font-size: 16px;
  }
  .navigate__inner img {
    width: 450px;
  }
  .community-comments__title {
    font-size: 18px;
  }
  .community-comments__text {
    font-size: 18px;
  }
  .community-comments img {
    width: 320px;
    right: -10px;
  }
  .community-posts img {
    width: 350px;
  }
  .community-posts__title {
    font-size: 18px;
  }
  .community-posts__text {
    font-size: 18px;
    width: 350px;
  }
  .activity__text {
    font-size: 26px;
    line-height: 33px;
  }
  .activity__inner img {
    width: 450px;
  }
  .activity__title {
    font-size: 26px;
  }
  .activity__desc {
    font-size: 18px;
  }
  .advantage-item {
    max-width: 350px;
  }
  .advantage-item img {
    width: 350px;
  }
  .advantage-item__title {
    font-size: 18px;
  }
  .advantage-item__desc {
    font-size: 17px;
  }
  .usage {
    gap: 0 25px;
    padding: 25px;
  }
  .usage-item {
    padding-bottom: 40px;
  }
  .usage-item__title {
    font-size: 19px;
    line-height: 24px;
  }
  .usage-item__headline {
    margin-bottom: 10px;
  }
  .usage-item-text {
    font-size: 14px;
  }
  .usage__title {
    font-size: 21px;
    line-height: 27px;
  }
  .usage__desc {
    font-size: 16px;
  }
  .explore__inner img {
    width: 200px;
  }
  .explore__title {
    font-size: 26px;
  }
  .explore__desc {
    font-size: 16px;
  }
  .explore__btn {
    font-size: 14px;
  }
  .start__inner {
    height: 300px;
  }
  .start__title {
    font-size: 26px;
  }
  .start__btn {
    font-size: 16px;
  }
  .footer__inner {
    gap: 0 70px;
  }
  .footer__privacy {
    gap: 15px 0;
  }
  .footer__support {
    gap: 15px 0;
  }
  .footer__general {
    gap: 15px 0;
  }
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .hero__btn {
    font-size: 14px;
    width: 140px;
  }
  .hero img {
    width: 350px;
  }
  .hero__title {
    font-size: 23px;
    line-height: 27px;
  }
  .hero__item {
    font-size: 16px;
  }
  .functions__inner {
    padding: 40px 30px;
  }
  .functions__title {
    font-size: 23px;
    line-height: 33px;
  }
  .functions__desc {
    font-size: 16px;
  }
  .functions__main {
    width: 270px;
  }
  .functions__text {
    font-size: 21px;
    line-height: 30px;
  }
  .functions__left {
    gap: 60px;
  }
  .functions__left span {
    width: 190px;
  }
  .functions__socials {
    width: 160px;
  }
  .navigate__inner {
    padding: 30px 30px;
  }
  .navigate__inner img {
    width: 340px;
  }
  .navigate__title {
    font-size: 21px;
  }
  .navigate__desc {
    font-size: 15px;
  }
  .community-posts {
    padding: 40px;
    position: relative;
  }
  .community-posts img {
    width: 300px;
    position: absolute;
    bottom: -94px;
    right: -10px;
  }
  .community-posts__title {
    font-size: 16px;
    width: 220px;
  }
  .community-posts__text {
    font-size: 16px;
    width: 220px;
  }
  .community-comments {
    position: relative;
  }
  .community-comments img {
    width: 250px;
    right: 1px;
    top: 136px;
  }
  .community-comments__title {
    font-size: 16px;
  }
  .community-comments__text {
    font-size: 16px;
  }
  .activity {
    padding-top: 120px;
  }
  .activity__text {
    font-size: 19px;
    line-height: 27px;
  }
  .activity__inner img {
    width: 320px;
  }
  .activity__title {
    font-size: 21px;
  }
  .activity__desc {
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .advantage__inner {
    gap: 0 16px;
  }
  .advantage-item {
    width: 280px;
  }
  .advantage-item__desc {
    font-size: 15px;
  }
  .advantage-item__title {
    font-size: 16px;
  }
  .advantage-item img {
    width: 220px;
  }
  .usage {
    padding: 50px;
    text-align: center;
    display: block;
  }
  .usage__title {
    font-size: 18px;
    line-height: 24px;
  }
  .usage__desc {
    font-size: 15px;
  }
  .usage-item {
    margin-top: 30px;
    text-align: center;
    padding-right: 32px;
  }
  .usage-item img {
    margin-bottom: 20px;
  }
  .usage-item__title {
    font-size: 17px;
  }
  .usage-item__headline {
    margin-bottom: 13px;
    line-height: 25px;
  }
  .usage-item__text {
    font-size: 15px;
  }
  .usage-item__link {
    font-size: 13px;
  }
  .explore {
    padding-top: 45px;
  }
  .explore__container {
    padding: 0;
  }
  .explore__title {
    font-size: 22px;
  }
  .explore__desc {
    font-size: 14px;
    max-width: 500px;
    line-height: 25px;
  }
  .explore__btn {
    font-size: 13px;
  }
  .explore__inner img {
    width: 170px;
  }
  .templates__headline {
    font-size: 12px;
  }
  .templates__text {
    font-size: 17px;
  }
  .start__inner {
    height: 220px;
  }
  .start__title {
    font-size: 21px;
  }
  .start__btn {
    font-size: 16px;
  }
  .footer {
    padding-top: 60px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .footer__bottom {
    display: flex;
    justify-content: start;
  }
  .footer__bottom img {
    width: 80px;
  }
  .footer__inner {
    gap: 0 21px;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__doc {
    flex-direction: column;
    align-items: start;
  }
  .footer__copy {
    max-width: 250px;
    font-size: 10px;
  }
  .footer__privacy {
    font-size: 14px;
  }
  .footer__support {
    font-size: 14px;
  }
  .footer__general {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 60px;
  }
  .burger-menu {
    margin-left: 0;
  }
  .header-actions {
    margin-left: 0;
  }
  .header-actions__link {
    font-size: 13px;
  }
  .header-actions__btn {
    font-size: 13px;
    padding-left: 17px;
    padding-right: 17px;
  }
  .hero__btn {
    font-size: 16px;
  }
  .hero__item {
    font-size: 15px;
    line-height: 21px;
  }
  .hero__title {
    font-size: 21px;
    line-height: 24px;
    margin-top: 25px;
  }
  .hero__text {
    order: 2;
    text-align: center;
    align-items: center;
    gap: 10px 0;
  }
  .hero__inner {
    flex-direction: column;
  }
  .hero__inner img {
    order: 1;
    width: 300px;
  }
  .functions {
    padding-top: 55px;
  }
  .functions__text {
    font-size: 18px;
    line-height: 27px;
  }
  .functions__main {
    width: 220px;
    margin-top: 20px;
  }
  .functions__title {
    font-size: 20px;
    line-height: 25px;
  }
  .functions__title span {
    font-size: 19px;
  }
  .functions__desc {
    font-size: 15px;
  }
  .functions__inner {
    flex-direction: column;
    gap: 40 px 0;
    padding-top: 10px;
  }
  .functions__left {
    gap: 30px 0;
  }
  .functions__left span {
    margin-bottom: 20px;
  }
  .navigate img {
    width: 270px;
    margin-bottom: 15px;
  }
  .navigate__inner {
    flex-direction: column;
  }
  .navigate__title {
    font-size: 19px;
  }
  .community-posts img {
    bottom: -90px;
  }
  .community__inner {
    flex-direction: column;
    gap: 100px 0;
  }
  .community-comments img {
    top: auto;
    bottom: -103px;
  }
  .activity {
    padding-top: 150px;
  }
  .activity__inner {
    flex-direction: column;
    justify-content: center;
  }
  .activity__inner img {
    width: 260px;
  }
  .activity__text {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
  }
  .advantage-item {
    max-width: none;
    width: 100%;
  }
  .advantage__inner {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }
  .usage {
    padding: 30px 10px 10px 10px;
  }
  .usage__text {
    align-items: center;
  }
  .usage img {
    margin: 0;
  }
  .usage-item {
    padding: 10px 20px 20px 20px;
    text-align: center;
    align-items: center;
  }
  .explore {
    padding-top: 60px;
  }
  .explore__title {
    font-size: 20px;
  }
  .explore__desc {
    font-size: 13px;
    max-width: 300px;
    line-height: 22px;
  }
  .explore__inner {
    gap: 13px 13px;
    grid-template-columns: 1fr 1fr;
  }
  .explore__inner img {
    width: 140px;
  }
  .templates__headline {
    font-size: 11px;
  }
  .templates__text {
    font-size: 13px;
  }
  .start {
    padding-top: 60px;
  }
  .start__btn {
    font-size: 16px;
  }
  .start__inner {
    height: 150px;
  }
  .footer {
    padding-bottom: 15px;
  }
  .footer__bottom {
    justify-content: start;
    order: 7;
    display: flex;
    align-items: end;
  }
  .footer__bottom img {
    width: 50px;
    order: 1;
  }
  .footer__privacy {
    flex-direction: column;
    gap: 0 20px;
    font-size: 12px;
    order: 3;
  }
  .footer__support {
    flex-direction: column;
    gap: 0 20px;
    font-size: 12px;
    order: 5;
  }
  .footer__general {
    flex-direction: column;
    gap: 0 20px;
    font-size: 12px;
    order: 6;
  }
  .footer__doc {
    align-items: start;
    gap: 5px 18px;
    order: 2;
  }
  .footer__copy {
    width: 100%;
    max-width: 500px;
    order: 4;
  }
  .footer__inner {
    order: 1;
    display: flex;
    flex-direction: row;
    gap: 0px 10px;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */